/* vars */
:root {
    --brand-color: #262262;
}

/* utils */
.flex-row { display: flex; }
.flex-space-between { justify-content: space-between; }

body {
    font-family: "Muli", sans-serif;
    margin: 0;
}

.container {
    width: 1465px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}


.logo { display: flex;}

.logo img {
    width: 254px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 0 35px;
}


/* main nav */
.main-nav ul li a {
    color: var(--brand-color);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.main-nav ul li a:not(.button-link):hover { text-decoration: underline; }

.main-nav .button-link-li {
    margin: 0;
}

/* hero */
.hero {
    margin-top: 350px;
}

.hero .main-title {
    color: var(--brand-color);
    font-size: 70px;
    font-weight: 500;
    max-width: 886px;
    margin-bottom: .5em;
}

.hero .text {
    color: #565b5e;
    font-size: 22px;
    max-width: 1002px;
    margin-bottom: 50px;
}

.hero .biz-awards-logo {
    width: 150px;
    height: 60px;
    align-self: center;
}

.banner {
    margin-top: 50px;
    position: relative;
    margin-bottom: 500px;
}

.banner-image {
    margin: 0 -40px;
    position: absolute;
    z-index: 0;
}

.banner-content {
    position: relative;
    z-index: 1;
}

.banner .second-title {
    font-size: 55px;
    font-weight: 400;
    color: var(--brand-color);
    padding-top: 30px;
    margin-bottom: 470px;
}

@media screen and (max-width: 415px) { 
    .banner .second-title {
        margin-bottom: 50px;
    }
}

.banner-content__card-container .card { margin: 0 20px; }

@media screen and (max-width: 415px) { 
    .banner-content__card-container { display: block; }
    .banner-content__card-container .card { 
        width: calc(100% - 30px);
        margin: 0 0 20px;
    }
}

/* Components -------------------------------------------------- */
/* TODO: move to different file */

/* Button Links */
.button-link {
    background: #eff1f4;
    display: inline-block;
    text-decoration: none;
    color: var(--brand-color);
}

.button-link:hover {
    opacity: .8;
}

.button-link:before {
    content: ' ';
    mask: url(../assets/ico-arrow.svg) no-repeat center;
    -webkit-mask: url(../assets/ico-arrow.svg) no-repeat center;
    mask-size: 17px;
    -webkit-mask-size: 17px;
    display: inline-block;
    width: 17px;
    height: 24px;
    margin-left: 13px;
    margin-bottom: 3px;
    margin-right: 8px;
    vertical-align: middle;
    background-color: var(--brand-color);
}

.button-link .button-link__text {
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    border-left: 1px solid #d8d8d8;
}

.button-link.button-link--blue { background-color: var(--brand-color);}
.button-link.button-link--blue .button-link__text { color: white;}
.button-link.button-link--blue:before { background-color: white;}

/* Cards */
.card {
    background-color: var(--brand-color);
    color: white;
    padding: 20px;
    width: 420px;
    display: flex;
    flex-direction: column;
}

.card .card__title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;
    max-width: 300px;
    margin-bottom: 0;
}

.card .card__text {
    font-size: 18px;
    margin-bottom: 40px;
}

.card .button-link-container {
    margin-top: auto;
}
